

#main {
    position: absolute;
    width: 90%;
    height: 90%;
}

#simbicon {
    position: absolute;
    width: 70vh;
    height: 70vh;
    left: 25%;
}

#simTime {
    position: absolute;
    top: 20%;
    left: 5%;
}
